<header class="header-bar mb-3">
    <div class="container d-flex flex-column flex-md-row align-items-center p-3">
        <h4 class="my-0 mr-md-auto font-weight-normal"><a routerLink="/home" class="text-white">OurApp</a></h4>
        <div class="flex-row my-3 my-md-0">
            <span class="text-white mr-2 header-chat-icon" title="Chat" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-comment"></i></span>
            <a class="btn btn-sm btn-success mr-2" routerLink="/create">Create Post</a>
            <form class="d-inline">
                <button routerLink="/login" class="btn btn-sm btn-secondary">Sign Out</button>
            </form>
        </div>