<h1>Employees Info</h1>
<div class="table-responsive">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let u">{{u.fullname}}</td>
        </ng-container>
        <ng-container matColumnDef="initials">
            <th mat-header-cell *matHeaderCellDef>Initials</th>
            <td mat-cell *matCellDef="let u">{{u.initials}}</td>
        </ng-container>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let u">{{u.title}}</td>
        </ng-container>
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let u" class="action-link">
                <button mat-raised-button (click)="updateUser(u.id, u)" style="margin: 5px">EDIT</button>
                <button mat-raised-button (click)="deleteUser(u.id)" style="margin: 5px">DELETE</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
</div>