<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
        <ul>
            <li>
                <strong>Menu</strong>
            </li>
            <li>
                <a routerLink='/'>Home</a>
            </li>
            <li>
                <a routerLink='/userForm'>User Form</a>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-top-bar></app-top-bar>
        <div id="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>